/* Color Theme Swatches in Hex */
.Incert-1-hex { color: #038C33; }
.Incert-2-hex { color: #02732A; }
.Incert-3-hex { color: #025920; }
.Incert-4-hex { color: #014017; }
.Incert-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Incert-1-rgba { color: rgba(2, 140, 50, 1); }
.Incert-2-rgba { color: rgba(2, 114, 41, 1); }
.Incert-3-rgba { color: rgba(1, 89, 32, 1); }
.Incert-4-rgba { color: rgba(1, 63, 23, 1); }
.Incert-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Incert-1-hsla { color: hsla(140, 96, 28, 1); }
.Incert-2-hsla { color: hsla(140, 96, 22, 1); }
.Incert-3-hsla { color: hsla(140, 96, 17, 1); }
.Incert-4-hsla { color: hsla(140, 96, 12, 1); }
.Incert-5-hsla { color: hsla(0, 0, 5, 1); }

body {
  margin: 0; 
  padding: 0;
  background-color: #FAF8F0;
}

nav {
    background-color: #393E41;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
  }
  
  .title {
    color: white;
    font-size: 24px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: left;
  }
  
  nav .title a {
    text-decoration: None;
    color:white;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin: 0px;
    padding: 0px 0px;
    vertical-align: middle;
  }

  nav li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  nav li a:hover {
    background-color: #8ABC8F;
    margin:0;
    padding:auto;
  }

  nav li .selected,
  nav li .selected:hover {
  color: #CFFCB1;
  background-color: #393E41;
}

#landing-page {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    position:relative;
  }
 
  #landing-page h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#7DB587
  }
  #landing-page p {
    font-size: 20px;
    line-height: 1.5;
    color: #888;
    font-family:'Ubuntu', sans-serif;
    margin-bottom: 0;
  }

#map {
  margin: 150px auto;
  text-align: center;
}

#clery,
#about {
  text-align: left;
  margin: 50px auto;
  max-width: 800px;
  position:relative;
  color:#333
}
  #clery h2,
  #about h2 {
    font-family: 'Montserrat', sans-serif;
    color:#7DB587;
  }

  #clery p,
  #about p {
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
  }

  #clery a,
  #about a {
    color:#333;
  }

  #clery a:hover,
  #about a:hover {
    color:#038C33
  }

